.loader {
    width: 80px;
    height: 80px;
    border: 12px solid #efefef;
    border-top: 12px solid #3b3b3b;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  