.button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  color: #39739d;
  cursor: pointer;
  outline: none;
  padding: 10px 2.2em;
  font-size: 18px;

  &:hover {
    background-color: #b3d3ea;
    color: #2c5777;
  }
}
